<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>cafe Form</title>
	</head>
	<body>
		<h2>cafe Form</h2>
		<form th:action="@{/cafes/save}" th:object="${cafe}" method="post">
			<input type="hidden" th:field="*{cafe_id}"/>
			<label>name</label>
			<input type="text" th:field="*{name}" /> <br/>
			
			<label>location</label>
			<input type="text" th:field="*{location}" /> <br/>
			<label>author</label>
			<input type="text" th:field="*{author}" /> <br/>			
			<label>apening_hours</label>
			<input type="text" th:field="*{apening_hours}" /> <br/>
			<button type="submit">Save Board</button>
		</form>
			<a th:href="@{/cafes}">돌아가기</a>	
	</body>
</html>