<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시글 작성하기</title>
<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
	<h2>게시글 작성하기</h2>
	<form th:object="${board}" th:action="${boardId != null ? '/boards/update/' + boardId:'/boards/create'}" method="post">
		<input type="hidden" th:field="*{boardId}"/>
		
		<label for="title">제목 : </label>
		<input type="text" th:field="*{title}" required/>
		
		<label for="content">내용 : </label>
		<textarea th:field="*{content}" required></textarea>
		
		<label for="*{author}">글쓴이 : </label>
		<input type="text" th:field="*{author}"/>
		
		<button type="submit">추가</button>
	</form>
</body>
</html>