<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>유저 정보 조회</title>
</head>
<body>
	<h1>하나만가져올게요</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>name</th>
				<th>email</th>
				<th>birth</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u : ${user}">
				<td th:text="${u.mno}"></td>
				<td th:text="${u.mname}"></td>
				<td th:text="${u.memail}"></td>
				<td th:text="${u.mbirth}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
