<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>사용자 정보 수정</title>
	</head>
	<body>
		<h2>User Update</h2>
		<!-- 사용자가 정보를 수정하기 위한 폼 작성 -->
		<form th:object="${user}" th:action="@{'/api/user/update/' + ${user.mno}}" method="post">

			<input type="hidden" th:field="*{mno}" required>
			
			<label for="mname"></label>
			<input type="text" id="mname" th:field="*{mname}" required>
			<br>
			
			<label for="memail"></label>
			<input type="text" id="memail" th:field="*{memail}" required>
			<br>
			
			<button type="submit">modify</button>
		</form>
	</body>
</html>