<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 등록하기 - 판매자용</title>
</head>
<body>
	<form action="@{/new}" method="post" enctype="multipart/form-data">
		<div>
			<div>
				<label for="isSoldout">상품상태</label>
				<input type="radio" name="isSoldout" id="isSoldout" value="0"/>판매중<br>
				<input type="radio" name="isSoldout" id="isSoldout" value="1"/>품절
			</div>
			<div>
				<label for="name">상품 이름</lable>
				<input type="text" id="name" name="name" placeholder="상품명을 입력하세요" required>
				<p>이름은 필수로 작성해주셔야합니다.</p>
			</div>
			<div>
				<label for=price"">상품 가격</label>
				<input type="text" id="price" name="price" placeholder="사격 설정합니다." required>
				<p>가격은 필수로 작성해주셔야합니다.</p>
			</div>
			<div>
				<label for="description">상품 설명</label>
				<input type="text" id="description" name = "description" placeholder="상품 설명을 작성해주세요.">
				<p>설명은 작성해주셔야합니다.</p>
			</div>
			<div>
				<label for="stockQuantity">상품 재고</label>
				<input type="text" id="stockQuantity" name = "stockQuantity" placeholder="재고를 입력하세요.">
				<p>재고는 작성해주셔야합니다.</p>
			</div>
			<div>
				<label for="photofile">상품 이미지 업로드</label>
				<input type="file" id="photofile" name="photofile"/>
			</div>
			<button type="submit" >상품 등록</button>
		</div>
	</form>
</body>
</html>