<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>kh 쇼핑몰</title>
	</head>
	<body>
		<h1>kh 쇼핑몰</h1>
		<ul>
			<li><a>home</a></li>
			<li><a>제품올리기</a></li>
			<li><a>판매자 마이페이지</a></li>
			<li><a>제품상세보기</a>
				<ul>
					<li>모든 제품 보기</li>
					<li>인기 제품 보기</li>
					<li>신규 제품 보기</li>
				</ul>
			</li>
		</ul>
		<form>
			<button>로그인</button>
		</form>
		<form>
			<button>회원가입</button>
		</form>
		<form>
			<a>현재잔액</a>
		</form>
		
		<!-- 소비자일 경우-->
		<ul>
			<li>마이페이지</li>
		</ul>
	</body>
</html>