<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="EUC-KR">
		<title>Item List</title>
	</head>
	<style>
	.item-container {
		max-width: 900px;
		margin : 0 auto;
	}
	
	.item {
		float: left;
		width: 200px;
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
		margin: 10px;
	}
	.item img {
		width: 100%;
		height: auto;
	}
	</style>
	<body>
		<h1>상품 리스트</h1>
		<a th:href="@{/item/new}">상품추가하기</a>
		<div th:each="item : ${items}">
			<img th:src="@{${item.getImgPath()}}" />
			<label>제품명 : </label>
			<span th:text="${item.name}"></span><br>
			<label>제품가격 : </label>
			<span th:text="${item.price}">></span><br>
			<label>재고수량 : </label>
			<span th:text="${item.stock}">></span><br>
			<a th:href="@{/item/details/}">상세보기</a>
			
			<form th:action="@{/cart/add}" method = "post">
				<input type="hidden" name="itemId" th:value="@{itemId}"/>
				<button type="submit">장바구니에담기</button>
			</form>
		</div>
	</body>
</html>