<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

 
<head>
    <meta charset="utf-8">
 
    <title>Hello</title>
</head>
<body>
	<div>
	  <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
	  <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
	   
		<a th:href="@{/product/list}">상품리스트로 이동</a>
	</div>
</body>
</html>

<!--
	sec:authorize=작성할 메서드
	작성할 메서드 리스트
	1.hasRole("ROLE_ADMIN")
		ROLE_ADMIN 권한을ㅇ 가진 사용자한테만 보여지는 컨텐츠 또는 div_button
		
		hasRole("'ROLE_ADMIN', 'ROLE_USER'") : 로그인한 회원과 관리자만 볼수 있게 비회원은 못보게 함
		
		isAuthenticated() : 로그인한 사용자한테만 보이는 내용
							만약 인증이 되지 않은 사용자라면 앞에 ! 붙여주면됨
			isAnonymous() : 호그인 하지 않은 사용자한테만 보이는 내용
			  permitAll() : 모든 사용자에게 접근을 허용하고 내용을 표시할 수 있도록 함
			  	denyAll() : 모든 사용자에게 접근을 거부하고 내용을 숨김
	hasIpAddress('가능한 IP주소') : 요청이 특정IP 주소에서 온 경우만 내용을 보여줌
	
-->