<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <meta charset="UTF-8">
	    <title>View</title>
	</head>
	<body>
	    <h1>View</h1>
	    
	    
	    <div th:if="${product.imgName != null and product.imgPath != null}">
	        <img th:src="@{${product.imgPath}}"/>
	    </div>
	    <div th:unless="${product.imgName != null and product.imgPath != null}">
	        <img th:src="@{'/img/notImg.jpg'}" />
	    </div>
	    <label>상품명</label>
	    <span th:text="${product.name}"></span>
	    <br>
	    <label>상세설명</label>
	    <span th:text="${product.text}"></span>
	    <br>
	    <label>가격</label>
	    <span th:text="${product.price}"></span>
	    <br>
	    <label>재고</label>
	    <span th:text="${product.stock}"></span>
	    <br>
	    
	    <!-- 댓글 표시 -->
		<h2>댓글 </h2>
		<div th:each="comment : ${product.comments}">
			<p th:text="${comment.content}"></p>
		</div>
		
		<!-- 댓글 입력 폼-->
		<form>
			<input type="hidden" name="productId" th:value="${product.id}">
			<label>댓글 작성</label>
			<input type="text" id="comment" name="comment">
			<button type="submit"댓글등록></button>
		</form>
	    <a th:href="@{/product/list}">돌아가기</a>
	</body>
</html>