<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>productList</title>
		<style>
	.product-container {
		max-width: 900px;
		margin : 0 auto;
	}
	
	.product {
		float: left;
		width: 200px;
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
		margin: 10px;
	}
	.product img {
		width: 100%;
		height: auto;
	}
</style>
	</head>
	<body>
		<h1>productList</h1>
		<div class="product-container">
			<div class="product">
		
				<a th:href="@{/product/new}">상품추가하기</a>
	<!-- 1 -->	<div th:each="product, loop : ${paging.content}">
				    <div th:if="${product.imgName != null and product.imgPath != null}">		
				    	<img th:src="@{${product.imgPath}}" >
				    </div>
				    <div th:unless="${product.imgName != null and product.imgPath != null}">
				        <img th:src="@{'/img/notImg.jpg'}" >
				    </div>
		
					<label>제품명 : </label>
					<span th:text="${product.name}"></span>
					
					<label>제품 가격 : </label>
					<span th:text="${product.price}"></span>
					
					
					<button th:if="${#authorization.expression('isAuthenticated()')}"
						th:onclick="' likeProduct(' + ${product.id} + ')"
						type="button"
					>좋아요</button>
						
					<span th:text="${product.likes}"></span>likes
					
					<script>
						
					</script>
					
					
					
					
					
					<a th:href="@{'/product/detail/' + ${product.id}}">상세보기</a>
					
					
					<!-- 장바구니에 상품을 담고자 한다면 장바구니에 담기 버튼 생성해서 담아주기 -->
					<form th:action="@{/cart/add}" method="post">
						<input type="hidden" name="productId" th:value="${product.id}"/>
						<button type="submit">장바구니에 담기</button>
					</form>	
				</div>
			<!--  페이징을 하기 위한 번호 목록 만들어주기 -->
			    <div th:if="${!paging.isEmpty()}">
				    <ul>
				        <li th:classappend="${!paging.hasPrevious()} ? 'disabled'">
				            <!--  
				            	"(큰 따옴표)로 감싸진 thymeleaf 안에
				            	'(작은 따옴표)로 감싸서 기존에 문자와 코드를 구분했지만
				            	|(파이프)로 감싸진 문구는 동적으로 바뀌는 문자열을 의미함
				             -->
				            <a th:href="@{|?page=${paging.number-1}|}">   
				            	<span>이전</span>
				            </a>
				        </li>
			 			<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" 
			                th:if="${page >= paging.number-5 and page <= paging.number+5}"
			                th:classappend="${page == paging.number} ? 'active'" 
			               >
			                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
			            </li>
						<li th:classappend="${!paging.hasNext()} ? 'disabled'">
				            <a th:href="@{|?page=${paging.number+1}|}">
				                <span>다음</span>
				            </a>
				        </li>
				    </ul>
				</div>
			</div>
		</div>
			
		<!-- 
		
			paging.isEmpty = 
				게시물이 존재하는지 존재하지 않는지 체크
			paging.totalElements = 
				전체 게시물 개수
			paging.totalPages = 
				전체 페이지 개수
			paging.size = 
				페이지당 보여줄 게시물 수
			paging.number = 
				현재 페이지 번호
			paging.hasPrevios = 
				이전 페이지가 존재하는지 확인하는 존재여부
			paging.hasNext = 
				다음 페이지가 존재하는지 확인하고 다음페이지가 없으면 막을 수 있도록 확인해주는 여부
		
		 -->
		
		
	</body>
</html>