<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>productList</title>
	</head>
	<body>
		<h1>productList</h1>
		<a th:href="@{/product/new}">상품추가하기</a>
		<div th:each="product : ${products}">
			  <div th:if="${product.imgName != null and product.imgPath != null}">		
			    	<img th:src="@{${product.imgPath}}" >
			    </div>
			    <div th:unless="${product.imgName != null and product.imgPath != null}">
			        <img th:src="@{'/img/notImg.jpg'}" >
			    </div>
	
			<label>제품명 : </label>
			<span th:text="${product.name}"></span>
			
			<label>제품 가격 : </label>
			<span th:text="${product.price}"></span>
			<a th:href="@{'/product/detail/' + ${product.id}}">상세보기</a>
			
			
			<!-- 장바구니에 상품을 담고자 한다면 장바구니에 담기 버튼 생성해서 담아주기 -->
			<form th:action="@{/cart/add}" method="post">
				<input type="hidden" name="productId" th:value="${product.id}"/>
				<button type="submit">장바구니에 담기</button>
			</form>
			
		</div>
	</body>
</html>