<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product List</title>
</head>
<body>
	<h2>Product List</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>CATEGORY</th>
				<th>PRICE</th>
				<th>STOCK QUANTITY</th>
				<th>DETAIL(상세보기)</th>	
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.product_id}"></td>
				<td th:text="${product.product_name}"></td>
				<td th:text="${product.category}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.stock_quantity}"></td>
				<td><a th:href="@{/products/detail/{id}(id=${product.product_id})}">상세보기 클릭</a></td>

			</tr>
		</tbody>
	</table>
</body>
</html>