<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>검색결과</title>
</head>
<body>
	<h2>검색 결과</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>TITLE</th>
				<th>AUTHOR</th>
			</tr>
		</thead>
		<!-- 검색 결과를 모두 표시하는 공간을 만들어줌 -->
		<tbody>
			<tr th:each="board : ${boards}">
				<td th:text="${board.board_id}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.author}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>