@charset "EUC-KR";
/* styles.css */

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a, button {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    cursor: pointer;
    display: flow;
    text-align: center;

}

a:hover, button:hover {
    background-color: #555;
    color: #fff;
}
form {
	text-align: center;
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}